.contacts {
  padding-top: 10px;
}

.contacts-row {
  display: flex;
}

.contacts__promo {
  text-align: left;
}

.contacts__promo  b {
  font-size: 16px;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 400;
}

.contacts__address {
  @include text;
}

.contacts__map {
  height: 360px;
}

@media(min-width: $tablet-width) {
  .contacts__promo b {
    font-size: 20px;
    line-height: 1.25;
    width: 155px;
    display: block;
  }

  .contacts__address {
    font-size: 16px;
    line-height: 1.25;
    text-align: right;
    width: 160px;
    margin-left: auto;
  }

  .contacts__address--city {
    display: block;
    margin-top: 20px;
  }
}

@media(min-width: $desctop-width) {
  .contacts {
    position: relative;
    height: 404px;
    padding-top: 0;
  }

  .contacts-wrap {
    position: absolute;
    display: flex;
    width: 570px;
    background-color: $color-white;
    padding: 60px;
    margin-top: 50px;
    z-index: 1
  }

  .contacts__address {
    text-align: left;
  }

  .contacts__map {
    height: 404px;
  }

  #map {
    height: 100%;
    margin: 0;
    padding: 0;
  }
}
