.example {
  background-color: $color-gray;
  padding-top: 18px;
  padding-bottom: 88px;
}

.example__title {
  @include title;
  margin-bottom: 25px;
}

.example__text {
  @include text;
  margin-bottom: 24px;
  width: 266px;
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.example__item {
  position: relative;
  border: 1px solid $color-gray-middle;
  border-radius: 6px;
  text-align: center;
  padding: 0 10px;
  width: 125px;
  margin-bottom: 15px;

  &--value {
    font-size: 24px;
    line-height: 1;
    color: $color-black;
    text-transform: uppercase;
    margin-top: 13px;
    margin-bottom: 18px;
  }

  &--param {
    content: "";
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, 0);
    font-size: 12px;
    line-height: 1;
    letter-spacing: 1.1px;
    text-align: center;
    width: 80px;
    background-color: $color-gray;
  }
}

.example__spend {
  text-transform: uppercase;
  line-height: 1.4;
  color: $color-black;
  margin-bottom: 35px;
  text-align: center;
}

.example__range {
  position: relative;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 85px;
    height: 14px;
    border: 1px solid $color-gray-middle;
    background-color: $color-white;
    border-radius: 10px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 6px;
    background-color: $color-green;
    border-radius: 10px;
  }
}

.cd-image-label {
  display: none;
}

.example__range::before,
.example__range::after {
  display: none;
}

.example__slider {
  background: $color-gray;
}

.range {
  width: 140px;
  display: block;
  height: 15px;
  margin: 0 auto;
  margin-top: 64px;

  border: 1px solid $color-gray-middle;
  border-radius: 10px;
  background-color: $color-white;
}

.example__slider-range {
  position: relative;
  width: 300px;
  height: 30px;

  &::before {
    content: "";
    position: absolute;
    top: 63px;
    left: 47%;
    transform: translate(-50%, 0);
    width: 245px;
    height: 15px;
    border: 1px solid $color-gray-middle;
    border-radius: 10px;
    background-color: $color-white;
    z-index: 1;
  }
}

.example__slider-range {
  display: flex;
  justify-content: space-between;
}

.range-text {
  font-size: 16px;
  line-height: 1.25;
  color: $color-black;
  text-transform: uppercase;
  width: 48px;
  margin-top: 37px;
  padding-bottom: 5px;
}

.cd-image-container {
  width: 100%;
}

.cd-handle {
  top: 125.5%;
  border: none;
  border-radius: 10px;
  height: 6px;
  background-color: $color-green;
  box-shadow: none;
  z-index: 1000;

  &::before {
    display: none;
  }
}

.example__slider--tablet {
  visibility: hidden;
  display: none;
}

@media(min-width: $tablet-width) {
  .example {
    border-top: 1px solid $color-border;
    background: linear-gradient(to top, $color-gray-bg 42.7%, $color-white 42.7%);
    padding-top: 43px;
    padding-bottom: 0;
  }

  .example__title {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 48px;
  }

  .example-info {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 39px;
  }

  .example__text {
    font-size: 16px;
    line-height: 1.5;
    width: auto;
    max-width: 702px;
    margin-bottom: 55px;
  }

  .example__item {
    width: 165px;

    &--value {
      font-size: 30px;
      line-height: 1.2;
    }

    &--param {
      font-size: 14px;
      line-height: 1;
      background-color: $color-white;
      top: 68%;
      width:132px;
    }
  }

  .weight {
    width: 110px;
  }

  .example__spend {
    font-size: 20px;
    line-height: 1.4;
    width: 180px;
    text-align: right;
    margin-left: auto;
  }

  .example__spend p {
    margin-top: 6px;
  }

  .example__list {
    width: 368px;
    max-height: 85px;
  }

  .example__slider {
    background: linear-gradient(to top, $color-gray-bg 73%, $color-white 27%);
    min-height: 632px;
  }

  .example__slider-range {
    width: 100%;

    &::before {
      width: 660px;
      height: 8px;
      top: 30px;
      left: 51%;
      border-radius: 10px;
      background-color: $color-gray-middle;
    }
  }

  .example__slider-range {
    display: flex;
    justify-content: space-between;
  }

  .range-text {
    font-size: 20px;
    line-height: 1;
    border-bottom: 1px dotted $color-black;
    color: $color-black;
    text-transform: uppercase;
    width: 48px;
    margin-top: -18px;
    padding-bottom: 5px;
  }

  .example__slider--tablet {
    visibility: visible;
  }

  .example__slider--mobile {
    visibility: hidden;
    display: none;
  }

  .cd-image-container {
    margin-left: 10px;
  }

  .cd-handle {
    height: 34px;
    width: 34px;
    left: 50%;
    top: 100%;
    margin-left: -18px;
    margin-top: 15px;
    border-radius: 50%;
    border: 2px solid #cdcdcd;
    background-color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

    &::before {
      display: block;
    }
  }
}

@media(min-width: $desctop-width) {
  .example {
    padding-top: 0;
    border-top: none;
    background: linear-gradient(to top, $color-gray-bg 77.5%, $color-white 22.5%);
  }

  .example__slider {
    background: linear-gradient(to top, #eaeaea 77.5%, #ffffff 22.5%);
    min-height: 600px;
    margin-left: 120px;
  }

  .example .container-row {
    display: flex;
    justify-content: space-between;
  }

  .example__title {
    margin-bottom: 128px;
  }

  .example__text {
    margin-bottom: 70px;
  }

  .example-info {
    width: 435px;
  }

  .example__list {
    margin-bottom: 37px;
  }

  .example__item--param {
    background-color: $color-gray-bg;
    letter-spacing: 1.5px;
  }

  .example__spend {
    margin: 0;
    width: 355px;
    text-align: left;

    &--price {
      margin-left: 60px;
    }
  }

  .cd-image-container {
    margin-top: -60px;
  }

  .example__slider-range::before {
    width: 610px;
  }

  .range-text {
    position: absolute;
  }

  .range-text--before {
    left: 0;
  }

  .range-text--after {
    right: 0;
  }
}
