.in-use {
  margin-bottom: 40px;
}

.in-use__title {
  @include title;
}

.in-use__item {
  position: relative;
  padding-left: 80px;
  @include text;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    width: 60px;
    height: 60px;
    background-color: $color-green;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
  }

  &--consist::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--form::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--use::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--deadlines::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}
