.main-nav {
  display: none;
  &--show {
    display: block;
  }
}

.main-nav__item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 50%;
    bottom: 0;
    width: 100vw;
    height: 1px;
    background-color: $color-border;
  }

  &::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100vw;
    height: 1px;
    background-color: $color-border;
  }
}

.main-nav__link {
  color: $color-black;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1;
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: 500;
}
