.page-header__row {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 50%;
    bottom: 0;

    width: 100vw;
    height: 1px;

    background-color: $color-border;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 100vw;
    height: 1px;

    background-color: $color-border;
  }
}

.page-header__logo {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .page-header .container-row {
    display: flex;
    justify-content: space-between;
  }

  .page-header__row::before,
  .page-header__row::after {
    display: none;
  }
}

@media(min-width: $desctop-width) {
  .page-header {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      height: 696px;
      width: 50%;
      z-index: -1;
      background-color: $color-green-bg;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: right;
    }
  }
}
