.page-footer {
  padding-bottom: 20px;

  background-color: $color-gray;
}

.footer__logo {
  margin-bottom: 23px;
  padding-top: 40px;
  padding-bottom: 30px;

  border-bottom: 1px solid $color-gray-light;
  text-align: center;
}

.footer__copyright {
  display: flex;
  justify-content: space-between;

  &--title {
    font-size: 16px;
    line-height: 1;
    text-transform: uppercase;

    & span {
      text-transform: capitalize;
    }
  }
}

@media(min-width: $tablet-width) {
  .footer__logo {
    border-bottom: none;
  }

  .page-footer .container-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__copyright--title {
    margin-right: 15px;
    display: block;
  }

}
